*h1{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: monospace;
}

.pantalla{
    max-width: 37.5rem;
    margin: auto;
    padding: 1rem;

}

.texto{
    margin: auto;
    margin-top: 1rem;
    font-size: 1rem;
  
  }

  .pantalla3{
    margin-left: 11rem ;
  }   

  .pantalla3 h1{
    font-size: 1rem;
     margin: auto;
     background-color: gray;
    color: black;
    
    }
    .texto p{
      padding: 2rem;
      font-size: 1rem;
      margin: auto;
    
    }


    